flow4.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>HTTP REST GET CLIENT.</description>
    <groupId>16053ca2-325e-1d0a-e53e-5fd22a040ae9</groupId>
    <name>flow4</name>
    <snippet>
        <connections>
            <id>599bfbfb-401b-3bfe-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>68d97230-9603-3084-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Failure</selectedRelationships>
            <selectedRelationships>No Retry</selectedRelationships>
            <selectedRelationships>Original</selectedRelationships>
            <selectedRelationships>Retry</selectedRelationships>
            <source>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>1544dcc6-6e3a-34b0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>af99de1a-04bb-3f87-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>d1420b33-4ad1-38aa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>1544dcc6-6e3a-34b0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b084bd2b-7f69-31cc-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>1</backPressureObjectThreshold>
            <destination>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>6f489973-7200-3d2e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>e7d8276c-b753-3b4c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>dab36996-a2c9-300c-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>1544dcc6-6e3a-34b0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>6f489973-7200-3d2e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e4057db6-3c18-3195-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>b5f36407-bb23-3eef-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7f7230b4-642a-317d-0000-000000000000</groupId>
                <id>6f489973-7200-3d2e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>1544dcc6-6e3a-34b0-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>360.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://jsonplaceholder.typicode.com/todos/${attribute_id}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP-GET</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>68d97230-9603-3084-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <position>
                <x>512.0</x>
                <y>360.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>6f489973-7200-3d2e-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>176.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Rate Control Criteria</key>
                        <value>
                            <name>Rate Control Criteria</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Rate</key>
                        <value>
                            <name>Maximum Rate</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Rate Controlled Attribute</key>
                        <value>
                            <name>Rate Controlled Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Duration</key>
                        <value>
                            <name>Time Duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Grouping Attribute</key>
                        <value>
                            <name>Grouping Attribute</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Rate Control Criteria</key>
                        <value>flowfile count</value>
                    </entry>
                    <entry>
                        <key>Maximum Rate</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Rate Controlled Attribute</key>
                    </entry>
                    <entry>
                        <key>Time Duration</key>
                        <value>1 min</value>
                    </entry>
                    <entry>
                        <key>Grouping Attribute</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ControlRate</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ControlRate</type>
        </processors>
        <processors>
            <id>b5f36407-bb23-3eef-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <position>
                <x>512.0</x>
                <y>168.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>d1420b33-4ad1-38aa-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>536.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>e7d8276c-b753-3b4c-0000-000000000000</id>
            <parentGroupId>7f7230b4-642a-317d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute_id</key>
                        <value>
                            <name>attribute_id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                    <entry>
                        <key>attribute_id</key>
                        <value>2</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
    </snippet>
    <timestamp>11/30/2021 09:17:12 UTC</timestamp>
</template>
